/* .input_frame {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  display: block;
} */

.input_frame h4 {
  margin-top: 150px;
  margin-bottom: 10px;
}

.input_frame input {
  width: 200px;
  height: 30px;
  font-size: 1em;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.input_frame button {
  height: 36px;
  width: 212px;
  cursor: pointer;
  padding: 5px;
}

.list {
  margin: 80px 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 80px;
}

.list img {
  margin-top: 30px;
}

@media screen and (max-width: 1300px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 840px) {
  .list {
    margin: 0 auto;
    margin-bottom: 60px;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
  }
}
